footer {
  width: 100%;
  background-color: rgb(12, 34, 64);
  color: var(--white);

  display: flex;
  justify-content: center;
  align-items: center;

  .container__footer {
    width: 1200px;
    height: 100px;

    display: flex;
    justify-content: center;
    align-items: center;

    h5 {
      font-size: 2rem;
      font-weight: bold;
    }

    p {
      letter-spacing: 0.05rem;
    }
  }
}
